@model PostAboutVM
@{
    ViewData["Title"] = "Create";
    //Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Default form</h4>
                    <p class="card-description"> Basic form layout </p>
                    <form class="forms-sample" method="post" asp-action="Create" enctype="multipart/form-data">
                        <div class="form-group">

                            <label asp-for="Title">Title:</label>
                            <input class="form-control" placeholder="title" asp-for="Title">
                            <label asp-for="Description">Description:</label>
                            <input class="form-control" placeholder="description" asp-for="Description">
                            <span class="text-danger" asp-validation-for="Description"></span>
                            <label asp-for="Content">Content:</label>
                            <input class="form-control" placeholder="content" asp-for="Content">
                            <span class="text-danger" asp-validation-for="Content"></span>
                          
                            <span class="text-danger" asp-validation-for="Photos"></span>
                            <label asp-for="Photos">Photo:</label>
                            <input type="file" class="form33-control" id="photo" asp-for="Photos" multiple>
                            <span class="text-danger" asp-validation-for="Photos"></span>
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Save</button>
                        <button asp-action="index" class="btn btn-light">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationPartial" />
}