@model Slider
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";

}

<div class="container">
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Default form</h4>
                    <p class="card-description"> Basic form layout </p>
                    <form class="forms-sample" method="post" asp-action="Edit" enctype="multipart/form-data">
                        <div class="form-group">
                            <label asp-for="Header">Header</label>
                            <input type="file" class="form-control" id="photo" asp-for="Header">
                            <span class="text-danger" asp-validation-for="Header"></span>

                            <label asp-for="Description">Description</label>
                            <input type="file" class="form-control" id="photo" asp-for="Description">
                            <span class="text-danger" asp-validation-for="Description"></span>

                            <label asp-for="WatchVideoURL">WatchVideoURL</label>
                            <input type="file" class="form-control" id="photo" asp-for="WatchVideoURL">
                            <span class="text-danger" asp-validation-for="WatchVideoURL"></span>

                            <label asp-for="GetStartedURL">GetStartedURL</label>
                            <input type="file" class="form-control" id="photo" asp-for="GetStartedURL">
                            <span class="text-danger" asp-validation-for="GetStartedURL"></span>

                            <label asp-for="Image">Image</label>
                            <input type="file" class="form-control" id="photo" asp-for="Image">
                            <span class="text-danger" asp-validation-for="Image"></span>
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        <button asp-action="index" class="btn btn-light">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>