@Model List<Review>
    @{
        ViewData["Title"] = "Review";
    }

    <!-- Testimonial Start -->
    <div class="testimonial">
        <div class="container">
            <div class="section-header">
                <p>Testimonial Carousel</p>
                <h2>100% Positive Customer Reviews</h2>
            </div>
            <div class="owl-carousel testimonials-carousel">
                @foreach (var review in Model)
                {
                    <div class="testimonial-item">
                        <img src="~/img/@review.Image" alt="Image">
                        <p>
                            @review.Content
                        </p>
                        <h2>@review.Name</h2>
                        <h3>@review.Profession</h3>
                    </div>
                }

            </div>
        </div>
    </div>
    <!-- Testimonial End -->
