@model List<Post>
@foreach (var post in Model)
 {
<div class="col-md-6">
    <div class="blog-item">
        <div class="blog-img">
            <img src="img/blog-1.jpg" alt="Blog">
        </div> 
        <div class="blog-content">
            <h2 class="blog-title">@post.Title</h2>
            <div class="blog-meta">
                <i class="fa fa-list-alt"></i>
                <a href="">Category</a>
                <i class="fa fa-calendar-alt"></i>
                <p>01-Jan-2045</p>
            </div>
            <div class="blog-text">
                <p>
                    @post.Description
                </p>
                <a class="btn" href="">Read More</a>
            </div>
        </div>
    </div>
</div>
            }